*{
    margin: 0
}

body {
    background-color: #202020;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 10vh;
    height: 100%;
    .sub-container{
        width: 20%;
        background-color: antiquewhite;
        img{
            width: 100%;
            height: 100%;
        }
    }
}